body {
  background: rgb(185, 129, 129);
}
nav {
  position: relative;
  margin: 20px auto 0;
  width: 850px;
  height: 50px;
  background: rgb(71, 39, 39);
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 1);
}
nav li {
  display: inline-block;
  padding: 1px 65px;
}
nav a {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  font-weight: bolder;
  position: relative;
}
nav a:hover{
  color: rgb(0, 0, 0);
}
header h1 {
  padding: 0 45;
  height: 25;
  font-size: 40;
}
main {
  padding: 0 50;
  width: 90%;
  height: 100%;
  text-align: justify;
}
footer {
  width: 100%;
  height: 50px;
  float: left;
  background-color: rgb(90, 37, 37);
  position: relative; 
}
footer p {
  color: fff;
  padding: 0 20;
  font-size: 18;
}
footer a {
  color: white;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.ref {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
  background-color: rgb(90, 37, 37)
}
.ref li {
  display: inline-block;
  padding: 1px 65px;
}
.ref a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}
.ref li a:hover {
  color: black;
}
#art {
  padding: 0 50;
  width: 90%;
  height: 240%;
  text-align: justify;
}
iframe{
  float: right;
}
.cont{
  padding: 15 0;
  font-weight: bolder;
}