body {
  background: rgb(185, 129, 129);
}
nav {
  position: relative;
  margin: 20px auto 0;
  width: 850px;
  height: 50px;
  background: rgb(255, 0, 0);
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 1);
}
nav li {
  display: inline-block;
  padding: 1px 65px;
}
nav a {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  font-weight: bolder;
  position: relative;
}
nav a:hover{
  color: red;
}
header h1 {
  padding: 0 45;
  height: 25;
  font-size: 40;
}
main {
  width: 100%;
  float: left;
  padding: 20px 8%;
}
footer {
  width: 100%;
  height: 50px;
  float: left;
  background-color: rgb(90, 37, 37);
  position: relative; 
  box-shadow: 0 2px 3px ;
}
footer p {
  color: fff;
  padding: 0 22%;
  font-size: 15;
}
footer a {
  color: fff;
  text-decoration: none;
}